body {
  font:  62.5%/1.6em "Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif;
}

#container {
  font-size:  1.4em;
  width:  760px;
  margin-left: auto;
  margin-right: auto;
}

#header, #nav, #content, #sidebar, #footer {
  border: solid 1px black;
  padding: 10px;
}

h1 {
    line-height:  1em;
}

a {
  text-decoration: none;
}

#sidebar {
  float: left;
}

#content #sidebar-inside {
  border: solid 1px black;
  padding: 10px;
  float: right;
}

#footer {
  clear: both;
}
